.root {
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        color: #fe5f1e;
        text-align: center;
        padding: 10px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        line-height: 28px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            background-color: #fe5f1e;
            color: white;
        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: white;
            }
        }
    }
}
