// prettier-ignore
{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        // "no-console": "warn",
        "prefer-const": "off",
        "quotes": ["warn", "single"],
        "jsx-quotes": ["warn", "prefer-single"],
        // "indent": ["warn", 4],
        "max-len": ["error", {"code": 160}],
        "comma-dangle": ["off"],
        // "semi": ["off"],
        "import/order": ["warn", {
            "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
            "newlines-between": "always-and-inside-groups"
        }],
        "react-hooks/exhaustive-deps": "off"
    }
}
